/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/tests
/storage/framework
/storage/logs
/routes/api.php
/routes/channels.php
/routes/console.php
/vendor
composer.lock
composer.json
package-lock.json
./.editorconfig
.env.example
.gitattributes
artisan
phpunit.xml
README.md
vite.config.js
/lang
/database/factories
/database/seeders
/config/app.php
/config/auth.php
/config/broadcasting.php
/config/cache.php
/config/cors.php
/config/database.php
/config/hashing.php
/config/logging.php
/config/mail.php
/config/queue.php
/config/sanctum.php
/config/services.php
/config/session.php
/config/view.php
/bootstrap/
/app/Console/
/app/Exceptions/
/app/Providers/
/app/Http/Middleware/
