.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.image-preview {
    width: 250px;
}
.container p{
    text-align: center;
    margin-top: 1em;
    font-weight: 500;
}
.form-select {
    position: absolute;
    right: 0;
    width: 15%;
    top: 4em;
}
